# Core Dependencies
python-multipart>=0.0.6
requests>=2.28
joblib
pandas
numpy
scikit-learn
pytest

# Web App & API
streamlit>=1.18
fastapi>=0.109.0
uvicorn>=0.27.0
pydantic>=2.5.0
python-dotenv
python-multipart

# Machine Learning & Visualization
lightgbm
shap>=0.44
altair
graphviz
streamlit-agraph

# Deep Learning (PyTorch)
torch>=2.0.0
